ADMIN_EMAIL="YOUR ADMIN_EMAIL"
ADMIN_PASSWORD="YOUR ADMIN_PASSWORD"
TURNSTILE_SECRET_KEY="YOUR TURNSTILE_SECRET_KEY"
TURNSTILE_SITE_KEY="YOUR TURNSTILE_SITE_KEY"
CHATBOT_API_URL="YOUR CHATBOT_API_URL"
SECRET_KEY="YOUR SECRET_KEY"
GROQ_API_KEY="YOUR GROQ_API_KEY"